autopep8==1.5.2
backcall==0.1.0
certifi==2020.4.5.1
chardet==3.0.4
colorama==0.4.3
coreapi==2.3.3
coreschema==0.0.4
decorator==4.4.2
defusedxml==0.6.0
Django==2.1.15
django-allauth==0.42.0
django-cors-headers==3.3.0
django-extensions==2.2.9
django-rest-auth==0.9.5
djangorestframework==3.11.0
drf-yasg==1.17.1
Faker==4.0.3
idna==2.9
inflection==0.4.0
ipython==7.14.0
ipython-genutils==0.2.0
itypes==1.2.0
jedi==0.17.0
Jinja2==2.11.2
MarkupSafe==1.1.1
oauthlib==3.1.0
packaging==20.3
parso==0.7.0
pickleshare==0.7.5
prompt-toolkit==3.0.5
psutil==5.7.0
pycodestyle==2.6.0
Pygments==2.6.1
pyparsing==2.4.7
pyte==0.8.0
python-dateutil==2.8.1
python3-openid==3.1.0
pytz==2020.1
requests==2.23.0
requests-oauthlib==1.3.0
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
six==1.14.0
text-unidecode==1.3
thefuck==3.30
traitlets==4.3.3
uritemplate==3.0.1
urllib3==1.25.9
wcwidth==0.1.9
win-unicode-console==0.5
